## **Subtask 1: Creating and Manipulating Lists**

### Create an empty list called my_list.

In [93]:
my_list = []

### Append the integers 1, 2, and 3 to my_list.

In [94]:
my_list.append(1)
my_list.append(2)
my_list.append(3)

### Add the string "hello" to my_list.

In [95]:
my_list.insert(len(my_list),'hello')

### Print my_list.

In [96]:
print(my_list)

[1, 2, 3, 'hello']

### Remove the integer 2 from my_list.

In [7]:
my_list.remove(2)

### Print the length of my_list.

In [11]:
len(my_list)

3

### Print the first element of my_list.

In [14]:
print(my_list[0])

1

---

## **Subtask 2: Working with Dictionaries**

### Create an empty dictionary called my_dict.

In [15]:
my_dict = {}

### Add the key-value pair 'name': 'John' to my_dict.

In [19]:
#option #1
my_dict = {"name":"John"}

### Add the key-value pair 'age': 25 to my_dict.

In [21]:
#option #2
my_dict["age"] = 25

### Print my_dict.

In [22]:
print(my_dict)

{'name': 'John', 'age': 25}

### Update the value of the 'age' key to 30.

In [26]:
my_dict["age"] = 30

### Print all the keys in my_dict.

In [24]:
my_dict.keys()

dict_keys(['name', 'age'])

### Print all the values in my_dict.

In [27]:
my_dict.values()

dict_values(['John', 30])

---

## **Subtask 3: Understanding Sets**

### Create a set called my_set containing the integers 1, 2, 3, and 4.

In [39]:
my_set = {1,2,3,4}

### Add the integer 5 to my_set.

In [41]:
my_set.add(5)

### Remove the integer 3 from my_set.

In [43]:
my_set.remove(3)

### Print my_set.

In [62]:
print(my_set)

{1, 2, 4, 5}

### Create another set called other_set containing the integers 3, 4, 5, and 6.

In [52]:
other_set = {3,4,5,6}

### Find the intersection of my_set and other_set.

In [71]:
print("my_set is",my_set)
print("other_set is",other_set)
print("intersection is",my_set.intersection(other_set))

my_set is {1, 2, 4, 5}
other_set is {3, 4, 5, 6}
intersection is {4, 5}

### Find the union of my_set and other_set.

In [73]:
print("my_set is",my_set)
print("other_set is",other_set)
print("union is",my_set.union(other_set))

my_set is {1, 2, 4, 5}
other_set is {3, 4, 5, 6}
union is {1, 2, 3, 4, 5, 6}

---

## **Subtask 4: Exploring Tuples**

### Create a tuple called my_tuple containing the strings "apple", "banana", and "cherry".

In [97]:
my_tuple = ("apple", "banana", "cherry")

### Print the second element of my_tuple.

In [98]:
print(my_tuple[1])

banana

### Attempt to change the first element of my_tuple to "orange" and observe the result.

In [108]:
#Wont work because tupples are immutable! This is possible with idea to cast tupple into list than cast back to tuple after adding our desired item.
my_tuple[0]="orange"

TypeError: 'tuple' object does not support item assignment

### Print the length of my_tuple.

In [109]:
len(my_tuple)

3

### Concatenate my_tuple with another tuple containing the strings "date" and "elderberry".

In [105]:
my_tuple2 = ("date", "elderberry")
end_tuple = my_tuple + my_tuple2

### Print the result of the concatenation.

In [106]:
print(end_tuple)

('apple', 'banana', 'cherry', 'date', 'elderberry')

---

## **Subtask 5: Learning about Strings**

### Create a string variable called my_string containing any sentence of your choice.

In [5]:
my_string = "This is some sentence"

### Print the length of my_string.

In [6]:
len(my_string)

21

### Print the first three characters of my_string.

In [7]:
print(my_string[0:3])

Thi

### Print the last three characters of my_string.

In [8]:
print(my_string[-3:])

nce

### Check if the word "Python" is present in my_string.

In [9]:
print("Our testing string is: ",my_string)
my_string.find("Python")
# we got -1 if its not located in our str otherwise if it is located we will receive index where our wanted word starts

Our testing string is:  This is some sentence

-1

### Replace any whitespace in my_string with underscores.

In [11]:
my_string.replace(" ","_")

'This_is_some_sentence'

### Convert my_string to uppercase and print the result.

In [12]:
upper = my_string.upper()
print(upper)

THIS IS SOME SENTENCE

---

## **Subtask 6: Creating Custom Classes**

### Create a class called Car with attributes make, model, and year.

In [6]:
class Car():

    def __init__(self,make,model,year):
        self.make = make
        self.model = model
        self.year = year

### Write a method within the class called display_info that prints out the car's make, model, and year.

In [34]:
class Car():

    def __init__(self,make,model,year):
        self.make = make
        self.model = model
        self.year = year
    def display_info(self):
        print("make: {} \nmodel: {}\nyear: {}".format(self.make,self.model,self.year))

### Create an instance of the Car class with the make "Toyota", model "Camry", and year 2020.

In [35]:
car1 = Car("Toyota","Camry","2020")

### Call the display_info method on the instance to display the car's information.

In [36]:
car1.display_info()

make: Toyota
model: Camry
year: 2020

---

# Bonus:

### Implement error handling for user input, such as ensuring the correct data type is entered for certain tasks.

In [2]:
def error_handling():
    while True:
        try:
            test = int(input("Please enter some number: "))
        except:
            print("Wrong format, try with number please!")
        else:
            print("Thank you for providing number")
            break

In [3]:
error_handling()

Please enter some number:  dsa

Wrong format, try with number please!

Please enter some number:  1

Thank you for providing number

### Encapsulate the subtasks into separate functions for better organization and reusability

In [ ]:
#Task above encapsulated with function error_handling